# ======================
# Core
# ======================
numpy>=1.19.0
opencv-python>=4.5.0
Pillow>=8.0.0
PyYAML>=5.3
tqdm>=4.60.0

# ======================
# Deep Learning
# ======================
torch>=1.8.0
torchvision>=0.9.0

# ======================
# GUI
# ======================
PyQt5>=5.15.0

# ======================
# Packaging
# ======================
pyinstaller>=5.0
